@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>This is my page for testing out Bootstrap stuff!</h3>

<div class="accordion" id="MyAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ItemOne">About The Book Store</button></h2>
        <div class="accordion-collapse collapse" id="ItemOne" data-bs-parent="#MyAccordion">
            <div class="accordion-body">The Book Store is an online platform for buying some of Professor Hilton's favorite books!</div>
        </div>
    </div>
</div>


